<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="mk">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="earthquakes, earthquake, macedonia, list, земјотрес, македонија, земјотреси, act1v8" />
    <meta name="description" content="Земјотреси е веб апликација која ги прикажува земјотресите кои што се случуваат на територијата на Република Македонија." />

    <title>Земјотреси во Македонија</title>
    <link rel="stylesheet" href="styles/style.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <link href="/atom" type="application/atom+xml" rel="alternate" title="Atom Feed" />

    <script src="http://www.google.com/jsapi" type="text/javascript"></script>
    <script type="text/javascript">
      google.load("prototype", "1.6");
      google.load("scriptaculous", "1.8.2");

      function highlight_today() {
        new Effect.Highlight('e_today', {
          startcolor: '#5d5d5d',
          endcolor: '#1f1d17',
          restorecolor: true,

          {% if highlight_today %}
          delay: 0.4
          {% endif %}

          });
        return false;
      }

    </script>
  </head>
  {% if highlight_today %}
  <body onload="highlight_today();">
  {% endif %}
    <div class="header">
      <h1 style="display: inline;"><a href="{{ host_url }}">Земјотреси:</a><img class="beta" src="images/beta.png" alt="beta" /></h1>
      <br />
      <a href="#" onclick="highlight_today();"><span class="explain" id="today">денес</span></a>
      <a href="/vcera"><span class="explain" id="yesterday">вчера</span></a>
      <a href="/predtoa"><span class="explain" id="before">предтоа</span></a>
    </div>

    <div class="container">
      <div class="earthquakes">
        {% if entries_today_count %}
        <div class="today" id="e_today">
        {% for entry in entries_today %}
          <div class="earthquake">
            <span class="arrow"><a href="/zemjotres/{{ entry.key }}">↠</a></span>
            <span class="area">{{ entry.location }}</span>&nbsp;–&nbsp;<span class="magnitude">{{ entry.magnitude }}</span>
            {% if entry.warning %}
            <image class="warning" src="images/warning.png" border="0" />
            {% endif %}
            <span class="data">длабочина: {{ entry.depth|rnd }}km</span>
            <span class="data">епицентар: <a href="{{ entry.url_location|escape }}">{{ entry.latitude }}°N {{ entry.longitude }}°E</a></span>
            <span class="data">време: <abbr title="{{ today|format_date_macedonian }}">денес</abbr> во {{ entry.time|time_utc1 }}</span>
            <span class="data"><a href="/zemjotres/{{ entry.key }}">детали</a></span>
          </div>
        {% endfor %}
        </div>
        {% endif %}

        {% if entries_yesterday_count %}
        <div class="yesterday">
        {% for entry in entries_yesterday %}
          <div class="earthquake">
            <span class="arrow"><a href="/zemjotres/{{ entry.key }}">↠</a></span>
            <span class="area">{{ entry.location }}</span>&nbsp;–&nbsp;<span class="magnitude">{{ entry.magnitude }}</span>
            {% if entry.warning %}
            <image class="warning" src="images/warning.png" border="0" />
            {% endif %}
            <span class="data">длабочина: {{ entry.depth|rnd }}km</span>
            <span class="data">епицентар: <a href="{{ entry.url_location|escape }}">{{ entry.latitude }}°N {{ entry.longitude }}°E</a></span>
            <span class="data">време: <abbr title="{{ yesterday|format_date_macedonian }}">вчера</abbr> во {{ entry.time|time_utc1 }}</span>
            <span class="data"><a href="/zemjotres/{{ entry.key }}">детали</a></span>
          </div>
        {% endfor %}
        </div>
        {% endif %}

        {% if entries_before %}
        <div class="before">
        {% for entry in entries_before %}
          {% if entry.magnitude %}
          <div class="earthquake">
            <span class="arrow"><a href="/zemjotres/{{ entry.key }}">↠</a></span>
            <span class="area">{{ entry.location }}</span>&nbsp;–&nbsp;<span class="magnitude">{{ entry.magnitude }}</span>
            {% if entry.warning %}
            <image class="warning" src="images/warning.png" border="0" />
            {% endif %}
            <span class="data">длабочина: {{ entry.depth|rnd }}km</span>
            <span class="data">епицентар: <a href="{{ entry.url_location|escape }}">{{ entry.latitude }}°N {{ entry.longitude }}°E</a></span>
            <span class="data">време: нa {{ entry.date|format_date_macedonian }} во {{ entry.time|time_utc1 }}</span>
            <span class="data"><a href="/zemjotres/{{ entry.key }}">детали</a></span>
          </div>
          {% endif %}
        {% endfor %}
        </div>
        {% endif %}
      </div>
    </div>


    <div class="footer">
      <span><a href="http://theact1v8.org">the act1v8</a></span>
      <span><a href="http://www.emsc-csem.org">EMSC-CSEM</a></span>
      <span><a href="http://github.com/Act1v8/Zemjotresi/tree/master">♥git</a></span>
      <p>
        Овие информации се исклучиво неофицијални. Стојан Димитровски (<a href="http://theact1v8.org">the act1v8</a>), <a href="http://google.com">Google</a> ниту <a href="http://www.emsc-csem.org">EMSC-CSEM</a> не земаат одговорност за ажурноста и точноста на податоците презентирани овде.
      </p>
    </div>
  </body>
</html>

